<div class="row">
  <% unless @article.archived? %>
    <div class="col-20">
      <p>
        <strong>
          <%= comment.commenter %>
        </strong>
          <%= comment.body %>
           <br>
        <small>
             <%= time_ago_in_words(comment.created_at) %>
        </small>
      </p>
    </div>
  <% end %>

</div>
