<%= form_with model: [ @article, @article.comments.build ] do |form| %>
      <p>
        <%#= form.label :commenter %><br>
        <%#= form.text_field :commenter %>
      </p>
  <div class="col-20">

      <p>
        <%#= form.label :body %><br>
        <%= form.text_field :body, class:"border-0", style:"width: 70%; height: 50px;", placeholder:"add a comment" %>

        <%= form.submit value:"post", class:"btn btn-outline-primary" %>



  </div>
      </p>
<% end %>